/* .comic {
    margin: 5px;
    margin: 0 auto;
    box-shadow: 1px 0 4px 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    margin: 10px;
} */


.comic {
    position: relative;
    overflow: hidden;
    transition: transform .3s;   
    cursor: pointer; 
}

.comic > img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    height: 100%;
    box-shadow:  3px 4px 14px rgba(0,0,0,0.6);
    transition: transform .2s;
}

.comic__content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 100;
}

.comic__title {
    transition: transform .12s;
    transform: translate(0,-1000%);
  }

  .comic__description {
    transition: transform .12s;
    transform: translate(0,1000%);
  }
  .comic::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(235, 71, 126, 0.8), rgba(71, 180, 235, 0.8));
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    transform: translate(-50%, 50%) scale(0.01) rotate(45deg);
    transition: inherit;
  }
  
  .comic:hover .comic__title,
  .comic:hover .comic__description {
    transform: translate(0);
    transition: transform 0.3s 0.3s;
  }
  .comic:hover .comic__img {
    transform: scale(1.5) rotate(10deg);
  }
  .comic:hover::after {
    transform: scale(2.5) rotate(45deg);
  }