.story {
    
    margin: 0 auto;
    box-shadow: 1px 0 4px 3px rgba(0,0,0,0.7);
    border-radius: 4px;
   margin-bottom: 2rem;
    padding: 2rem;
    width: 80%;
    background-color: #EC1D24;
}


.story__title >h2 {
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
}

.story__details {
    margin-top: 2rem;
   
}

.story__details > h5 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.story__comics {
display: flex;
width:100%;
justify-content: center;
}


.story__comics {
    display: flex;
    align-items: center;
    width: 70%;
   
    width: 100%
}

.story__comics > p {
    margin-left: 1rem;
    text-align: center;
   
}

.story__characters {
    margin-top: 1.5rem;
}

.story__characters >h5 {
    font-weight: 700;
}

.story__imgContainer {
    position: relative;
-webkit-perspective: 603px;
perspective: 603px;
}

.story__ComicImg {
    height: 170px;
    object-fit: contain;
    -webkit-transform: rotateX(0deg) rotateY(-35deg);
transform: rotateX(0deg) rotateY(-35deg);
box-shadow: 7px 6px 6px rgba(0,0,0,0.3);
}

@media screen and (max-width: 600px) {
.story {
    width: 90%;
}
.story__title >h2 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
}

}